/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
article,
header,
menu,
section,
time,
video {
  font-family: sans-serif;

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
div,
article,
aside,
header,
section {
  display: block;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  text-decoration: none;
}

button {
  &:focus {
    outline: none;
  }
}

@-webkit-keyframes autofill {
  to {
    color: #666666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
