@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-size: (
  'xx-large': 42px,
  'x-large': 32px,
  'large': 28px, 
  'medium': 16px,
  'small': 15px,
  'x-small': 14px,
);

@mixin font($name: 'Open Sans') {
  font-family: $name, sans-serif;
}

@function font-size($size: 'medium') {
  @return map-get($font-size, $size);
}

@mixin hero($color: color('black')) {
  @include font('Open Sans');

  & {
    color: $color;
    font-size: font-size('xx-large');
    font-weight: 500;
    line-height: 1;
  }
  
  @include media('<tablet') {
    font-size: font-size('x-large');
  }
}

@mixin header($color: color('black')) {
  @include font('Montserrat');

  & {
    color: $color;
    font-weight: 800;
    font-size: font-size('x-large');
    line-height: 1.4;
  }

  @include media('<tablet') {
    font-size: font-size("large");
  }
}

@mixin subheader($color: color('black')) {
  @include font('Montserrat');

  & {
    color: $color;
    font-weight: 800;
    font-size: font-size('large');
    line-height: 1.4;
  }

  @include media('<tablet') {
    font-size: font-size("medium");
  }
}

@mixin title($color: color('black')) {
  @include font('Montserrat');

  & {
    color: $color;
    font-weight: 800;
    font-size: font-size('x-small');
    line-height: 1.2;
  }
}

@mixin body($color: color('black')) {
  color: $color;
  font-size: font-size('medium');
  line-height: 1.2;
  font-weight: 500;
}

@mixin link($color: color('black')) {
  color: $color;
  font-size: font-size('medium');
  line-height: 1.1;
  font-weight: 500;
}

@mixin tiny($color: color('white')) {
  color: $color;
  line-height: 1.2;
  font-size: font-size('x-small');
  font-weight: 500;
}