$primary-color: #EBC201;

$body-background-color: #faf9f4;
$main-background-color: #FFF;
$book-item-background-color: #faf9f4;
$text-color: #222;
$logo-background-color: #CCC;
$header-background-color: #FAF9F4;
$menu-item-background-color-active-hover: $primary-color;
$menu-item-color-active-hover: #FFF;
$box-border-radius: 5px;
$book-border-radius: 10px; 
$book-position-border-color: $primary-color;
$footer-background-color: #292929;
$footer-menu-item-color: #FFF;
$footer-menu-item-color-active-hover: $primary-color;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;