/* stylelint-disable */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
article,
header,
menu,
section,
time,
video {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
div,
article,
aside,
header,
section {
  display: block;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

@-webkit-keyframes autofill {
  to {
    color: #666666;
    background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

/* Simple, elegant and maintainable media queries in Sass
* http://include-media.com
*
* Creates a list of global breakpoints
*
* @author Eduardo Boucas
*
* @example scss - Creates a single breakpoint with the label `mobile`
*  $breakpoints:  ('mobile': 320px);
*/
/* Creates a list of static expressions or media types
*
* @example scss - Creates a single media type (screen)
*  $media-expressions: ('screen': 'screen');
*
* @example scss - Creates a static expression with logical disjunction (OR operator)
*  $media-expressions: (
* 		'retina2x': (
* 			'(-webkit-min-device-pixel-ratio: 2)',
* 			'(min-resolution: 192dpi)'
* 		)
* 	);
*/
/* Defines a number to be added or subtracted from each unit when declaring breakpoints with exclusive intervals
*
* @example scss - Interval for pixels is defined as `1` by default
*  @include media('>128px') {} generates @media (min-width: 129px) {}
*
* @example scss - Interval for ems is defined as `0.01` by default
*  @include media('>20em') {} generates @media (min-width: 20.01em) {}
*
* @example scss - Interval for rems is defined as `0.1` by default, to be used with `font-size: 62.5%;`
*  @include media('>2.0rem') {} generates @media (min-width: 2.1rem) {}
*/
/* Generates a media query based on a list of conditions
*
* @param {List}   $conditions  - Media query conditions
*
* @example scss - With a single set breakpoint
*  @include media('>mobile') { }
*
* @example scss - With two set breakpoints
*  @include media('>mobile', '<=tablet') { }
*
* @example scss - With custom values
*  @include media('>=358px', '<850px') { }
*
* @example scss - With set breakpoints with custom values
*  @include media('>tablet', '<=1350px') { }
*
* @example scss - With a static expression
*  @include media('retina2x') { }
*
* @example scss - Mixing everything
*  @include media('>=350px', '<tablet', 'retina3x') { }
*/
/* Reads a list of media query expressions and separates logical disjunctions into different branches
*
* @param {List}   $expressions  - list of expressions
*
* @throws `$expression` is not a valid expression
*
* @return {List | Null}
*/
/*
* Parses a string to form a media query expression
*
* @param {String}   $expression  - expression (in string)
*
* @throws Expression with type `type-of($expression)` detected, string expected
* @throws `$expression` is missing an operator
* @throws Unknown unit: `$unit`
*
* @return {String | Null}
*/
/*
* Replaces the first occurence of the string with the replacement string
*
* @param {String}   $search  - The value being searched for
* @param {String}   $replace  - The replacement string
* @param {String}   $subject  - The string being replaced on
*
* @return {String | Null}
*/
/*
* Casts a number to a string
*
* @param {String}   $string  - Number to be parsed
*
* @return {List | Null}
*/
/* ********************* ORIENTATION ******************* */
body {
  position: relative;
  width: 100%;
  max-width: 1300px;
  padding: 0 128px 30px;
  margin: 0 auto;
  background: #faf9f3;
  display: flex;
  flex-flow: column wrap;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    padding: 0 48px 30px;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0 24px 30px;
    max-width: 100vw;
  }
}

.top-actions {
  padding: 12px 30px 24px 30px;
  width: 100%;
}
.top-actions .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.top-actions .top-logo {
  width: 198px;
  height: 30px;
  background: #cccccc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-actions .top-menu ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.top-actions .top-menu li {
  padding: 6px 12px;
  margin: 0 4px;
}
.top-actions .top-menu li:nth-child(3) {
  background: #ecc005;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
}
.top-actions .top-menu li:nth-child(3) a {
  color: #ffffff;
}
.top-actions .top-menu li:last-child {
  margin-right: 0;
}
.top-actions .top-menu li a {
  color: #292929;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 500;
}
@media (max-width: 767px) {
  .top-actions {
    padding: 12px 0;
  }
  .top-actions .top-menu {
    position: relative;
    width: 24px;
    height: 24px;
    border-bottom: 4px solid #292929;
  }
  .top-actions .top-menu:before {
    position: absolute;
    right: 0;
    top: 2px;
    content: "";
    border-top: 4px solid #292929;
    width: 100%;
  }
  .top-actions .top-menu:after {
    position: absolute;
    right: 0;
    bottom: 5px;
    content: "";
    border: 2px solid #292929;
    width: 100%;
  }
  .top-actions .top-menu ul {
    display: none;
  }
}

.main {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 6px 4px;
  overflow: hidden;
}
.main h1 {
  font-family: "Open Sans", sans-serif;
}
.main h1 {
  color: #292929;
  font-size: 42px;
  font-weight: 500;
  line-height: 1;
}
@media (max-width: 767px) {
  .main h1 {
    font-size: 32px;
  }
}
.main h1 {
  display: inline-block;
  width: 100%;
  background: #ffffff;
  padding: 30px;
}
.main .featured-book {
  position: relative;
  padding: 30px;
  display: flex;
  flex-flow: row;
}
.main .featured-book .recommended {
  background: #ecc005;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  color: #ffffff;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 500;
}
.main .featured-book .recommended {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 8px;
  border-radius: 0 0 0 8px;
}
.main .featured-book img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 2px;
}
.main .featured-book img {
  width: 260px;
  height: 396px;
  margin-right: 18px;
  object-fit: fill;
}
.main .featured-book .book-info {
  display: flex;
  flex-flow: column;
  text-align: left;
}
.main .featured-book .book-info .title {
  font-family: "Montserrat", sans-serif;
}
.main .featured-book .book-info .title {
  color: #292929;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .main .featured-book .book-info .title {
    font-size: 28px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main .featured-book .book-info .title {
    margin-right: 42px;
  }
}
@media (max-width: 767px) {
  .main .featured-book .book-info .title {
    text-align: center;
    margin-top: 12px;
  }
}
.main .featured-book .book-info .author {
  color: #555555;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
.main .featured-book .book-info .author {
  margin: 2px 0 8px;
}
@media (max-width: 767px) {
  .main .featured-book .book-info .author {
    text-align: center;
  }
}
.main .featured-book .book-info .synopsis p {
  color: #292929;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
.main .featured-book .book-info .synopsis p {
  margin-top: 12px;
}
.main .top-voted {
  padding: 30px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
.main .top-voted h2 {
  font-family: "Montserrat", sans-serif;
}
.main .top-voted h2 {
  color: #292929;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .main .top-voted h2 {
    font-size: 16px;
  }
}
.main .top-voted h2 {
  margin-top: 12px;
}
.main .books-list {
  padding: 20px 0 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  column-gap: 20px;
}
.main .books-list .book {
  position: relative;
  width: 33%;
  background: #faf9f3;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}
.main .books-list .book img {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 2px;
  width: 132px;
  height: 198px;
  margin-bottom: 16px;
  object-fit: fill;
}
.main .books-list .book .position {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 34px;
  height: 34px;
  border: 2px solid #ecc005;
  border-radius: 50%;
  color: #ecc005;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .books-list .book .position span {
  color: #ecc005;
  font-size: 16px;
  font-weight: 600;
}
.main .books-list .book .book-info {
  display: flex;
  flex-flow: column;
  text-align: left;
}
.main .books-list .book .book-info .title {
  font-family: "Montserrat", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.main .books-list .book .book-info .title {
  color: #292929;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .main .books-list .book .book-info .title {
    font-size: 28px;
  }
}
.main .books-list .book .book-info .title {
  color: #292929;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main .books-list .book .book-info .title {
    margin-right: 42px;
  }
}
@media (max-width: 767px) {
  .main .books-list .book .book-info .title {
    text-align: center;
    margin-top: 12px;
  }
}
.main .books-list .book .book-info .author {
  color: #555555;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 500;
}
.main .books-list .book .book-info .author {
  margin: 2px 0 8px;
}
@media (max-width: 767px) {
  .main .books-list .book .book-info .author {
    text-align: center;
  }
}
.main .books-list .book .book-info .synopsis p {
  color: #292929;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #292929;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 500;
}
.main .books-list .book .book-info .synopsis p {
  margin-top: 12px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main .featured-book {
    display: block;
  }
  .main .featured-book img {
    float: left;
  }
  .main .featured-book .book-info {
    display: block;
  }
  .main .books-list {
    flex-flow: column;
  }
  .main .books-list .book {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }
  .main .books-list .book img {
    float: left;
    margin-right: 12px;
  }
}
@media (max-width: 767px) {
  .main .featured-book {
    flex-flow: row wrap;
    justify-content: center;
  }
  .main .featured-book img {
    width: auto;
    height: 400px;
    margin-right: 0;
  }
  .main .books-list {
    flex-flow: column;
  }
  .main .books-list .book {
    width: 100%;
    margin-bottom: 24px;
  }
  .main .books-list .book img {
    width: auto;
    height: 200px;
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #292929;
  justify-content: center;
}
footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
footer li {
  color: #ffffff;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 500;
}
footer li {
  padding: 14px 30px;
}

/*# sourceMappingURL=index.css.map */
